<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954705697354-ko87hsvnmd3qfgvvt60fmfmfdn69n554.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954705697354-ko87hsvnmd3qfgvvt60fmfmfdn69n554</string>
	<key>API_KEY</key>
	<string>AIzaSyCnN6BxaD3GY5arnzYRmMlZOUwD0l3KKd0</string>
	<key>GCM_SENDER_ID</key>
	<string>954705697354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mopeka.tankcheck</string>
	<key>PROJECT_ID</key>
	<string>mopeka-f51fc</string>
	<key>STORAGE_BUCKET</key>
	<string>mopeka-f51fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954705697354:ios:3ba6d82637a1f6a244a4b3</string>
	<key>DATABASE_URL</key>
	<string>https://mopeka-f51fc.firebaseio.com</string>
</dict>
</plist>